<h1>About Bloccit</h1>
<<<<<<< HEAD
<p>Created by: <%= my_name%></p>
=======
<P>Created by: <%= my_name%></p>
>>>>>>> seed-data

<div class="social-btn">
  <p><%= link_to "Follow me", "https://twitter.com/lizzie_pg" %></p>
</div>
